
#appform h2{
  text-align: center;
  margin-top : 5vh;
}


#formsContainer{
  margin-bottom: 5vh;
}

#cb{
  padding-bottom: 3vh;
}

#appform form{
  width : 50vw;
  margin-left: 25vw;
  color : white;
  padding-left : 5vw;
  padding-right : 5vw;
  padding-top : 10px;
  padding-bottom : 10px;
  border : 1px solid black;
  border-radius : 4px;
  background-color : rgba(0, 0, 200, 0.5);
}

#femme{
  margin-left: 3vw;
}

